.product {
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  padding: 20px var(--main-left-right-padding) 70px;
  width: 100%;
}

.product h1, h2, p {
  margin: 0;
  padding: 0;
}

.product h1 {
  color: var(--orange);
  font-size: 14px !important;
  font-weight: var(--weight2);
}

.product h2 {
  color: var(--very-dark-blue);
  font-size: 30px !important;
  font-weight: var(--weight2);
}

.product h2 + p {
  color: var(--dark-grayish-blue);
  font-size: clamp(1rem, 0.625rem + 1.6vw, 1.125rem);
  font-weight: 500;
  line-height: 1.5rem;
}

.product .discount {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding:20px var(--main-left-right-padding);
  width: 100%;
}

.product .discount div:first-child {
  align-items: center;
  display: flex;
  gap: 20px;
}

.discount div:first-child p:first-child{
  font-size: 25px;
  font-weight: var(--weight2);
}

.discount div:first-child p:last-child{
  background-color: var(--pale-orange);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--orange);
  font-weight: var(--weight2);
  padding: 2px 7px;
}

.product .discount > p:last-child {
  color: var(--grayish-blue);
  text-decoration: line-through;
  font-weight: var(--weight2);
}

@media (min-width: 500px) {
  .product, .product .discount {
    box-sizing: border-box;
    padding: 20px 0;
  }
  
  .product {
    max-width: 500px;
  }

  .product .discount {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .product h2 + p {
    font-size: 16px;
  }
}

@media (min-width:900px) {
  .product h2 + p {
    font-size: clamp(1rem, 0.775rem + 0.4vw, 1.25rem);
  }
}