.cart {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 250px;
  inset: 10px 10px auto;
  position: absolute;
  z-index: 1;
}

.cart h3, .cart p {
  padding: 0 20px;
}

.cart div {
  display: grid;
  place-items: center;
}

.cart h3 {
  font-size: 16px !important;
}

.cart .with-item {
  height: 100%;
  padding-bottom: 15px;
}

.cart .with-item > div {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.cart .with-item > button {
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  color: var(--light-grayish-blue);
  font-weight: var(--weight2);
  padding: 20px 0;
  width: 100%;
}

.cart .with-item > button:hover {
  cursor: pointer;
}

.cart .with-item .button-delete {
  background-color: inherit;
  border: transparent;
}

.cart .with-item img {
  border-radius: 5px;
  width: 50px;
}

.cart .with-item p {
  padding: 0 20px 0;
  width: 100%;
}

hr {
  border: 1px solid rgba(182, 188, 200, 0.3) !important;
  color: var(--grayish-blue) !important;
  margin: 0;
  width: 100%;
}

@media (min-width: 500px) {
  .cart {
    height: 250px;
    inset: clamp(45px, 45px + 1%, 50px) var(--DESK-main-left-right-padding) auto auto;
    width: 355px;
  }

  .cart > * {
    border-radius: 10px;
    background-color: var(--white);
  }
}

@media (min-width: 600px) {
  .cart {
    inset: clamp(50px, 50px + 1%, 60px) var(--DESK-main-left-right-padding) auto auto;
  }
}

@media (min-width: 1140px){
  .cart {
    inset: clamp(60px, 60px + 1vw, 77px) var(--DESK-main-left-right-padding) auto auto;
  }
}

@media (min-width: 1800px){
  .cart {
    inset: clamp(70px, 62px + 1vw, 100px) var(--DESK-main-left-right-padding) auto auto;
  }
}