@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /*Primary colors*/
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /*Neutral*/
  --very-dark-blue: hsl(218, 12%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(230, 60%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: rgba(0, 0, 0, 0.5);

  /*Typography*/
  --font-family: 'Kumbh Sans', sans-serif;;
  --weight1: 400;
  --weight2: 700;

  /*Layout*/
  --main-left-right-padding: 15px;
  --DESK-main-left-right-padding: clamp(1.25rem, -4.6rem + 14.4vw, 12.5rem);
}

* {
  font-family: var(--font-family);
}